.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #0071CE; 
    color: white;
}


@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.heroTitle {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0;
    animation: fadeInSlide 1s ease-out;
}

@media screen and (max-width: 996px) {
    .heroTitle {
        font-size: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

/* Optional: backup animation if JS is disabled */
@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
